{% extends "base.template.html" %}

{% block title %}README - davegaeddert{% endblock %}

{% block extra_head %}
<style>
h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding-bottom: .25rem;
    border-bottom: 1px solid #e6e6e6;
}
p {
    margin-bottom: 1rem;
}
.width-reading {
    max-width: 35em;
}
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="text-right">
        <a href="/"><img src="/img/davidgaeddert-500.jpg" alt="Dave Gaeddert" class="rounded-sm shadow w-10"></a>
    </div>

    <div class="width-reading">
        <h1 class="text-3xl">README</h1>
        <small class="text-grey-900">Updated 4/10/19</small>
        {% markdown %}{% include "_readme.md" %}{% endmarkdown %}
    </div>
</div>
{% endblock %}
